.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 32px 40px;
}

.coursesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

// 2 columns for screens greater than 1024px
@media (min-width: 1024px) {
  .coursesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
